<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true"></ion-menu-button>
    </ion-buttons>

    <section id="nome-pag-img">
      @if (nomePagina !== '') {
        <span class="ion-no-margin">{{ nomePagina }}</span>
      }

      <img src="assets/logo-bogacar.png" alt="Logo BogaCar" style="height: 30px; width: auto"/>
    </section>

  </ion-toolbar>

  @if (barraPesquisa.mostrar) {
    <ion-toolbar>
      <ion-searchbar style="padding: 0!important; box-shadow: none !important;" class="custom"
                     [placeholder]="barraPesquisa.placeholder" show-clear-button="always"
                     (ionInput)="handleInput($event)"></ion-searchbar>
    </ion-toolbar>
  }
</ion-header>
