<app-cabecalho nomePagina="Sobre"></app-cabecalho>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <!-- Seção de Descrição -->
  <h2>Sobre a BogaCar</h2>
  <p>A <strong>BogaCar</strong> nasceu com a missão de revolucionar o mercado de compra, venda e aluguel de veículos, oferecendo uma plataforma intuitiva e segura que facilita a vida de nossos usuários.</p>

  <!-- Seção de História -->
  <h2>Nossa História</h2>
  <p>Fundada em 2023 por um grupo de entusiastas do setor automotivo e especialistas em tecnologia, a <strong>BogaCar</strong> surgiu com o objetivo de simplificar e digitalizar o mercado de veículos. Nossa jornada começou com a ideia de criar um ambiente confiável, onde compradores e vendedores pudessem se conectar de maneira prática e segura.</p>

  <!-- Seção de Funcionalidades -->
  <h2>Funcionalidades do App</h2>
  <p>A <strong>BogaCar</strong> oferece uma experiência completa e personalizada para encontrar o veículo dos sonhos. Com ferramentas avançadas de busca e filtros detalhados, nossos usuários podem refinar a pesquisa por marca, modelo, faixa de preço, quilometragem, ano de fabricação, localização, e muito mais.</p>

  <!-- Seção de Vantagens -->
  <h2>Por Que Escolher a BogaCar?</h2>
  <p>Nossa plataforma é projetada para ser confiável e conveniente. Trabalhamos com um sistema de verificação rigoroso para garantir a autenticidade dos veículos e a segurança nas transações. Oferecemos suporte rápido e eficiente para qualquer necessidade dos nossos clientes.</p>

  <!-- Seção de Contato -->
  <h2>Entre em Contato</h2>
  <p>Estamos sempre prontos para ajudar! Em caso de dúvidas, entre em contato com nossa equipe pelo e-mail <a href="mailto:suporte@bogacar.com">suportebogacar.com</a> ou pelo telefone (11) 1234-5678.</p>

  <!-- Termos e Privacidade -->
  <h2>Termos e Privacidade</h2>
  <p>A segurança e privacidade de nossos usuários são prioridades para nós. Para mais informações, consulte nossos Termos de Uso e Política de Privacidade diretamente no app.</p>

</ion-content>

