<app-cabecalho nomePagina="Publicar Carro"></app-cabecalho>

<ion-content [fullscreen]="true" class="ion-padding">
  <form>
    <ion-list lines="none">
      <ion-item-group>
        <ion-item-divider class="gradient-button">
          <ion-label>Informações do veículo</ion-label>
        </ion-item-divider>

          <ion-input [(ngModel)]="formCarro.marca" name="marca" fill="outline" label="Marca" labelPlacement="stacked" placeholder="Informe a marca"></ion-input>

          <ion-input [(ngModel)]="formCarro.modelo" name="modelo" fill="outline" label="Modelo" labelPlacement="stacked" placeholder="Informe o modelo"></ion-input>

          <ion-input [(ngModel)]="formCarro.ano" name="ano" fill="outline" label="Ano" labelPlacement="stacked" type="number" placeholder="Informe o ano"></ion-input>

          <ion-input [(ngModel)]="formCarro.preco" name="preco" fill="outline" label="Preço" labelPlacement="stacked" type="number" placeholder="Informe o preço"></ion-input>

          <ion-input [(ngModel)]="formCarro.quilometragem" name="quilometragem" fill="outline" label="Quilometragem" labelPlacement="stacked" type="number" placeholder="Informe a quilometragem"></ion-input>

          <ion-select [(ngModel)]="formCarro.status" name="status" fill="outline" label="Status" labelPlacement="stacked" placeholder="Selecione o status">
            <ion-select-option value="disponivel">Disponível</ion-select-option>
            <ion-select-option value="alugado">Alugado</ion-select-option>
            <ion-select-option value="vendido">Vendido</ion-select-option>
            <ion-select-option value="negociar">A negociar</ion-select-option>
          </ion-select>

          <ion-select [(ngModel)]="formCarro.tipoCombustivel" name="tipoCombustivel" fill="outline" label="Tipo de Combustível" labelPlacement="stacked" placeholder="Selecione o tipo de combustível">
            <ion-select-option value="Gasolina">Gasolina</ion-select-option>
            <ion-select-option value="Etanol">Etanol</ion-select-option>
            <ion-select-option value="Diesel">Diesel</ion-select-option>
            <ion-select-option value="Flex">Flex</ion-select-option>
          </ion-select>

          <ion-select [(ngModel)]="formCarro.transmissao" name="transmissao" fill="outline" label="Transmissão" labelPlacement="stacked" placeholder="Selecione a transmissão">
            <ion-select-option value="manual">Manual</ion-select-option>
            <ion-select-option value="automatica">Automática</ion-select-option>
          </ion-select>

          <ion-input [(ngModel)]="formCarro.cor" fill="outline" label="Cor" name="cor" labelPlacement="stacked" placeholder="Informe a cor"></ion-input>

          <ion-textarea [(ngModel)]="formCarro.descricao" fill="outline" label="Descrição" name="descricao" labelPlacement="stacked" placeholder="Descreva o veículo"></ion-textarea>

          <ion-input [(ngModel)]="formCarro.potencia" fill="outline" label="Potência" labelPlacement="stacked" name="potencia" type="number" placeholder="Informe a potência"></ion-input>


        <div class="ion-padding">
          <div style="width: 100%; border: 2px dashed #5c5c5c; border-radius: 8px; margin-top: 16px; display: flex; align-items: center; justify-content: center; flex-direction: column;">
            <input
              type="file"
              (change)="onFileSelected($event)"
              accept="image/*"
              multiple
              hidden
              #fileInput>

            <ion-button
              class="ion-padding"
              expand="block"
              fill="outline"
              (click)="fileInput.click()">
              Selecionar Imagem
              <ion-icon name="images-outline" slot="start"></ion-icon>
            </ion-button>

            @if ( selectFile) {
              <div class="ion-padding ion-flex-column ion-align-items-center ion-text-center ion-justify-content-center">
                <p>Imagem selecionada:</p>
                <div>
                  <p>{{selectFile?.name}}</p>
                  <ion-button
                    expand="block"
                    fill="outline"
                    (click)="removerImagem()"
                  >
                    Remover imagem
                  </ion-button>
                </div>
              </div>
            }
          </div>
        </div>
      </ion-item-group>
    </ion-list>

    <ion-button expand="block" class="gradient-button ion-margin" shape="round" (click)="publicar()">
      Publicar Carro
      <ion-icon name="car-sport-outline"></ion-icon>
    </ion-button>
  </form>
</ion-content>
