<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center ion-align-items-center ion-margin" style="height: 100vh;">
      <ion-col size-md="6" size-lg="4" size-xs="12">
        <ion-item-group>
          <ion-item>
            <ion-input fill="outline" [(ngModel)]="usuario.nome" label="Nome" labelPlacement="stacked"
                       placeholder="Nome"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input fill="outline" [(ngModel)]="usuario.senha" label="Senha"
                       labelPlacement="stacked" placeholder="Senha"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input fill="outline" [(ngModel)]="usuario.email" label="E-mail" type="email"
                       labelPlacement="stacked" placeholder="E-mail"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input fill="outline" [(ngModel)]="usuario.telefone" label="Telefone" type="number"
                       labelPlacement="stacked" placeholder="Telefone"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input fill="outline" [(ngModel)]="usuario.dataNascimento" label="Data de nascimento"
                       labelPlacement="stacked" placeholder="Data de nascimento" type="date"
            ></ion-input>
          </ion-item>
        </ion-item-group>


        <div class="ion-text-center">
          <ion-button class="ion-margin" expand="block" fill="outline" shape="round" color="secondary"
                      (click)="logarUsuario()">
            Login
            <ion-icon slot="end" name="log-in-outline"></ion-icon>
          </ion-button>
        </div>

        <div class="ion-text-center">
          <ion-button class="ion-margin" expand="block" fill="outline" shape="round" color="secondary"
                      (click)="salvar()">
            Cadastrar
            <ion-icon slot="end" name="log-in-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
